div {
    display: flex;
    background-color: green;
    border-radius:10px;
    box-shadow: 0 10px 10px red;
    justify-content:center;
    align-items:center;
}
body {
    display: flex;
    justify-content:center;
    align-items:center;
}