.container {
    max-width: 980;
    padding: 60px;
    margin: 0 auto;
}
.photo-grid {
    position: relative;
    margin-top: 160;
    padding: 60px;
    text-align: center;
}
img {
    position: relative;
    height: 172px;
    background-color: cornsilk;
    box-shadow: 0 0 5px black;
    float: left;
    margin-top: -100px;
    padding: 10px;
    z-index:2;
}
img:nth-of-type(even) {
   transform: translateX(10px);
   transform: rotate(8deg);
}
img:nth-of-type(odd) {
    transform: translate(40px, 30px);
    transform: rotate(-5deg);
}
img:nth-of-type(3n) {
    transform: translate(7px, 40px);
    transform: rotate(-15deg);
}
img:nth-of-type(5n) {
   left: 5px;
    top:-20px;
}
img:nth-of-type(6n) {
    transform: translate(10px, 30px);
    transform: rotate(15deg);
}
img:nth-of-type(9n) {
    transform: translate(10px, 30px);
    transform: rotate(22deg);
}
img:hover {
    box-shadow:  15px 15px 20px rgba(0, 0, 0, 0.6);
    transform: rotate(360deg);
    z-index:10;
    transform: scale(1,5);
    transition: all 0.4s ease-in 0s;
}
.clear {
    float: none;
}